body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
    text-align: center;
    font-size: 6rem;
    margin-top: 1rem;
}

p {
    color: #555;
    font-size: 1rem;
    text-align: center;
}

.heart-image {
    display: block;
    margin: 0rem; /* Center the image */
    width: 20%; /* Adjust size relative to the viewport */
    max-width: 5rem; /* Set a maximum size */
    height: auto; /* Maintain aspect ratio */
    transform: translate(50%, 50%); /* Center the image vertically and horizontally */
}
